@page
@model Guardadito.Pages.Goals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.MontoObjetivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.MontoObjetivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.MontoActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.MontoActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.FechaLimite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.FechaLimite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meta.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meta.Usuario.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meta.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
